body
{
    margin: 0;
    padding: 0;
    background: #262626;
	font-family: 'Quicksand', sans-serif;
	 
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	outline: none;
	border: 0;
}
.pulse
{
	cursor: pointer;
    width: 100px;
    height: 100px;
    background: #ff6d4a;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
	padding: 30px;
    text-align: center;
	justify-content: center;
    line-height: 100px;
	font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    animation: animate 3s linear infinite;
	outline: none;
	border: 0;
}
a{
	outline: none;
	border: 0;
	color: white;
	text-decoration: none;
}
@keyframes animate 
{
    0%
    {
        box-shadow: 0 0 0 0 rgba(255,109,74,.7), 0 0 0 0 rgba(255,109,74,.7);
    }
    75%
    {
        box-shadow: 0 0 0 50px rgba(255,109,74,0), 0 0 0 0 rgba(255,109,74,.7);
    }
    150%
    {
        box-shadow: 0 0 0 50px rgba(255,109,74,0), 0 0 0 30px rgba(255,109,74,0);
    }
    200%
    {
        box-shadow: 0 0 0 0 rgba(255,109,74,0), 0 0 0 30px rgba(255,109,74,0);
    }
}
/* Ensure meta tags are displayed */
meta {
    display: block !important;
}
