/*

#00e6e9;   

.timeline-qualification{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: #011029;
	font-family: 'Quicksand', sans-serif;
}
*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body
{
	margin: 0;
	padding: 20px;
	background: #333;
	font-family: 'Quicksand', sans-serif;
    padding-bottom: 50px;
    width: auto;
    overflow-x: hidden;
}

.bubble{
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background: #333;
    background-image: url(../img/splatter.png);
    background-repeat: no-repeat;
    background-position: center;
}
.square{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 400px;
    height: 400px;
    background: transparent;
   
}

.square span:nth-child(1){
    background: #212121;
     opacity: 0.75;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border: 2px solid #212121;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: bub 4s linear infinite;
}
.square:hover span:nth-child(1){
    border: none;
   background: #007faf;
   opacity: 0.75;
     border: 2px solid #007faf;
}
.square span:nth-child(2){
    background: #212121;
     opacity: 0.75;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border: 2px solid #212121;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: bub 6s linear infinite;
    
}
.square:hover span:nth-child(2){
    border: none;
    background: #007faf;
   opacity: 0.75;
     border: 2px solid #007faf;
}
.square span:nth-child(3){
    background: #212121;
     opacity: 0.75;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border: 2px solid #212121;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: bub2 8s linear infinite;
}
.square:hover span:nth-child(3){
    border: none;
    background: #007faf;
   opacity: 0.75;
    border: 2px solid #007faf;
}


@keyframes bub{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg); 
    }
}
@keyframes bub2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg); 
    }
}

.square-box{
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
    font-family: 'Quicksand', sans-serif;
}
.square-box h2{
    font-size: 25px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}
 .square-box a{
    position: relative;
     display: inline-block;
     margin-top: 10px;
     border: 2px solid #fff;
     padding: 6px 18px;
     text-decoration: none;
     color: #fff;
     font-weight: 600;
     border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}
.square-box a:hover{
    background: #007faf;
    color: #fff;
    border: 2px solid #007faf;
      text-decoration: none;
    transition: 0.8s;
}

.Education{
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 0;
   
}
.Education h1{
    padding-left: 20px;
    cursor: pointer;
}
.Education h1:hover{
    color: #00e6e9;   
    transition: 1s;
}
.box
{
	width: 800px;
	margin: 0px auto 0;
	padding: 40px;
	background: #212121;
    opacity: 0.85;
	box-sizing: border-box;
    box-shadow: 10px solid #000;
}
.box ul
{
	margin: 0;
	padding: 0;
	border-left: 2px solid #000;
}
.box ul li
{
	list-style: none;
}
.box ul li .item
{
	position: relative;
	padding: 30px 20px;
}
.box ul li .item:hover
{
	background:  #333;
}
.box ul li .item:before
{
	content: '';
	position: absolute;
	top: 32px;
	left: -6px;
	width: 12px;
	height: 12px;
	background: #021434;
	border-radius: 50%;
	box-shadow: inset 0 0 10px rgba(0,0,0,1);
}
.box ul li .item:after
{
	content: '';
	position: absolute;
	top: 32px;
	left: -6px;
	width: 12px;
	height: 12px;
	background: #ff0;
	border-radius: 50%;
	box-shadow: inset 0 0 10px rgba(255,255,0,1);
	opacity: 0;
}
.box ul li .item:hover:after
{
	animation: animate 1s linear infinite;
}
.box ul li .item span
{
	padding: 4px 12px;
	background: #007faf;
	border-radius: 15px;
	color: #fff;
}
.box ul li .item:hover span
{
	background: #e91e63;
}
.box ul li .item h3
{
	margin: 10px 0 0;
	padding: 0;
	color: #007faf;
}
.box ul li .item:hover h3
{
	color: #ff0;
}
.box ul li .item p
{
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
}
@keyframes animate
{
	0%
	{
		opacity: 0;
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}



.expereince{
    background: #333;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: auto;
}
.Expereince h1{
    font-size: 40px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
.Expereince h1:hover{
    color: #00e6e9;   
    transition: 1s;
}
#main{
    max-width: 100%;
    height: 75%;
    position: relative;
    transition: 1.5s;
    background-position: center;
    background-size: cover;
   
}

.circle-box{
    position: absolute;
    height: 450px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#svgcircle{
    stroke-dasharray: 1256;
    stroke-dashoffset: 1256;
    transition: 1s;
    
}
.circle-box span{
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    z-index: 10;
}

#step1{
 right: 160px;
  bottom: 30px;
}

#step2{
 left: 56px;
  bottom: 106px;
}

#step3{
 left: 60px;
  top : 100px;
}

#step4{
 right: 156px;
  top : 30px;
}
#step5{
 right: 20px;
  top : 220px;
}
.user-box{
    width: 350px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
    transition: 1s;
}
.user h1{
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
}
.user img{
    width: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.social img{
    width: 20px;
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.social img:hover{
   background-color:  #007faf;
   transition: 0.5s;
}
.user-box p{
    font-size: 20px;
    margin: 20px 0;
    color: #fff;
    line-height: 25px;
}
.user-box a{
    font-size: 20px;
    margin: 20px 0;
    color: #fff;
    line-height: 25px;
	text-decoration: none;
}
.user{
    height: 450px;
   
}



.profile{
     margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background: #333;
    background-image: url(splatter.png);
   
    background-position: left;
}
.square-profile{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: transparent;
}

.square-profile span:nth-child(1){
    background: #212121;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border: 2px solid #212121;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: bub 5s linear infinite;
}
.square-profile:hover span:nth-child(1){
    border: none;
   background: #007faf;
   opacity: 0.9;
     border: 2px solid #007faf;
}
@keyframes bub{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg); 
    }
}
.square-box-profile{
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
    font-family: 'Quicksand', sans-serif;
}
.square-box-profile h2{
    font-size: 25px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

 .square-box-profile a{
    position: relative;
     display: inline-block;
     margin-top: 10px;
     padding: 6px 18px;
     text-decoration: none;
     color: #fff;
     font-weight: 600;
    outline: none;
	 border: 0;
}
/*
.square-box-profile a:hover{
    background: #007faf;
    color: #fff;
    border: 2px solid #007faf;
      text-decoration: none;
    transition: 0.8s;
}
*/
.arrow{
  position: relative;
font-size: 55px;
    padding-top: 20px;
    color: white;
  background-size: contain;
    cursor: pointer;
}
.arrow:hover{
    color:  #212121;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow-1{
  position: relative;
 
font-size: 65px;
    color: white;
  background-size: contain;
    cursor: pointer;
}
.arrow-1:hover{
    color:  #212121;
}
.bounce-1 {
  animation: bounce01 4s infinite;
}

@keyframes bounce01 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}

.arrow-1 img{
   width: 150;
    height: 150;
}
.menu-icon-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.menu-icon {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  vertical-align: middle;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon-container:hover .menu-icon {
  transform: scale(1.2);
  opacity: 0.8;
}

.menu-icon-container:active .menu-icon {
  animation: click-animation 0.2s forwards;
}

@keyframes click-animation {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}




