@media only screen and (max-width: 340px){
 .site .row .col span-1-of-2 .fade-right .text , .text h1 , .text p, p, h1,
   .site .containers .zoom-in .image,
    .site .Myself .row .col span-1-of-2 .text .container p,
  .site  .card-profile .card .face front .face back .Fliping-it
    {
        padding: 2%;
        margin: 0%;
    }
 .site .row .col span-1-of-2 .fade-right .text h1{
        font-size: 41px;
    }
 .site   .Myself h1, p{
         font-size: auto;
    }
}
